/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-v19-latin-regular.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-v19-latin-700.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
}

aside {
    width: 100%;
    height: auto;
    padding: 2em;
    margin-left: 15px;
    border-left: 1px solid #eee;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

/* Nur auf Kontaktseite benutzt */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea, label {
    width: 80%;
}

textarea {
    resize: none;
}

input {
    height: 45px;
    padding: 0 5px;
}

label {
    margin-top: 10px;
    text-align: left;
}

figure, img {
    width: 100%;
}


.jpfordt_logo {
    width: 8em;
    height: fit-content;
}

.jpfordt_nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
}

.jpfordt_nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #73AB84;
}

.jpfordt_nav-link:hover, .jpfordt_nav-link:focus, .jpfordt_nav-link:active   {
    color: #99D19C;
    text-decoration: underline;
}

.dkuzey_hero-section {
    width: 100%;
    height: 90vh;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.dkuzey_hero-text-container {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.dkuzey_hero-text {
    color: #fff;
    font-weight: 700;
    font-size: 72px;
    word-break: break-all;
}

.dkuzey_facts-section, .jpfordt_appointments-section  {
    margin: 5rem 2rem;
    text-align: center;
}

.dkuzey_fact-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.dkuzey_fact-card {
    width: 15rem;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0.5em;
    background-color: #73AB84;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 1em;
    border-radius: 5%;
}

.jpfordt_heading {
    font-size: 36px;
    margin-top: 1em;
}

.jpfordt_heading-2 {
    font-size: 24px;
    margin-top: 1em;
}

.jpfordt_heading-3 {
    font-size: 18px;
    margin-top: 1em;
}

.jpfordt-text-centered {
    text-align: center;
}

.jpfordt_text {
    width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.jpfordt_appointment-container {
    display: flex;
    flex-direction: column;
}

.jpfordt_appointment-card {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
    border-bottom: 1px solid #d0d0d0;
}

.jpfordt_appointment-card strong {
    font-size: 28px;
    width: 20%;
}

.jpfordt_appointment-card p {
    font-size: 24px;
    text-align: left;
    margin-left: 1em;
    width: 80%;
}


.primary-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #99D19C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.primary-button:hover, .primary-button:focus, .primary-button:active {
    background-color: #73AB84;
}

.dkuzey_page-layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.dkuzey-main {
    width: 100%;
    padding: 1em 2em;
}

/* Impressum Seite */
.jpfordt_impressum {
    padding: 1em;
}

/* Kontaktseite */
.dkuzey-contact-form {
    width: 90%;
    background-color: #fff;
    margin: 2rem auto 0;
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.2);
    padding: 0.5em 0 3em;
    border-radius: 5px;
}

/* Über das Institut Seite  */
.dkuzey_info-table {
    width: 100%;
    margin-top: 2rem;
}

.dkuzey_info-head {
    font-size: 36px;
    color: #395041;
}

.dkuzey_secondary-text {
    color: #5b5b5b;
}

.dkuzey_about-article {
    margin-top: 1em;
}

/* Aktuelles Seite */
.jpfordt_social-media-heading {
    font-size: 36px;
}

.dkuzey_social-media-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    grid-template-rows: auto;
}

.jpfordt_post-container {
    width: 90%;
    height: fit-content;
    margin: 1em auto 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.2);
    padding-bottom: 10px;
}

.jpfordt_post-image img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.jpfordt_post-image figcaption {
    padding: 5px 15px;
}

.jpfordt_post-footer {
    padding: 5px 15px;
    display: block;
}

.jpfordt_post-time {
    color: #5b5b5b;
    font-size: 14px;
}

.jpfordt_post-tag {
    border-radius: 25px;
    background-color: #99D19C;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 5px;
}

.jpfordt_post-author {
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
    nav {
        flex-direction: row;
        height: 80px;
    }

    .jpfordt_nav-links {
        flex-direction: row;
        width: 70%;
    }

    .jpfordt_nav-link {
        font-size: 12px;
    }

    .dkuzey_fact-card-container {
        flex-direction: row;
        padding: 1rem 10rem;
    }

    .jpfordt_text {
        width: 60%;
    }

    .jpfordt_appointment-card {
      width: 60%;
    }

    /* Aktuelles Seite */
    .jpfordt_post-container {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    aside {
        width: 30%;
    }

    .jpfordt_nav-link {
        font-size: 18px;
    }

    .jpfordt_nav-links {
        width: 60%;
    }

    .dkuzey_page-layout {
        flex-direction: row;
    }

    .dkuzey-main {
        width: 70%;
    }

    /* Kontaktseite */
    .dkuzey-contact-form {
        width: 600px;
    }

}

@media screen and (min-width: 1080px) {
    .jpfordt_nav-links {
        width: 50%;
    }
}

